_IPT Extension/extension-as-elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by Aaron Wilton (Landcare Research New Zealand Limit) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="extension">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title"/>
				<xs:element name="name"/>
				<xs:element name="namespace"/>
				<xs:element name="rowType"/>
				<xs:element name="creator" minOccurs="0"/>
				<xs:element name="issued" type="xs:date"/>
				<xs:element name="description" minOccurs="0"/>
				<xs:element name="relation" minOccurs="0"/>
				<xs:element name="subject" minOccurs="0"/>
				<xs:element name="property" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="namespace" type="xs:string"/>
							<xs:element name="qualName" type="xs:string"/>
							<xs:element name="group" type="xs:string" minOccurs="0"/>
							<xs:element name="columnLength" type="xs:int" minOccurs="0"/>
							<xs:element name="comments" minOccurs="0"/>
							<xs:element name="examples" minOccurs="0"/>
							<xs:element name="relation" minOccurs="0"/>
							<xs:element name="subject" minOccurs="0"/>
							<xs:element name="description" minOccurs="0"/>
							<xs:element name="thesaurus" minOccurs="0"/>
							<xs:element name="required" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
